@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos para el diálogo */
.custom-dialog-container {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
  }

  .mat-mdc-dialog-surface {
    background: transparent !important;
    box-shadow: none !important;
  }

  .mat-mdc-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.transparent-backdrop {
  background-color: transparent;
}

/* Estilos para los campos de formulario */
.mat-mdc-form-field {
  width: 100%;
}

/* Asegurar que el diálogo tenga el fondo correcto */
.cdk-overlay-pane {
  .mat-mdc-dialog-container {
    background-color: transparent !important;
  }
}
